<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stays</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Welcome to our stays</h1>
    <div class="stays">
      <% for( let stay of stays ) { %>
      <div>
        <img src="<%= stay.img %> " alt="" />
        <div>
          <h3><%= stay.name %></h3>
          <p><%= stay.location %></p>
        </div>
        <div>
          <p>$<%= stay.price %>/night</p>
          <a href="/stays/<%= stay.id %> ">Stay Details</a>
        </div>
      </div>
      <% } %>
    </div>

    <div>
      <a href="/stays/new">Create new stay</a>
    </div>
  </body>
</html>
